.vscode/
.vs/
[Ll][Oo][Gg]/
[Bb][Ii][Nn]/
[Bb][Ii][Nn][Ss]/
[Aa][Ss][Ss][Ee][Tt][Ss]/
[Aa][Ss][Ss][Ee][Tt]/
[Bb][Uu][Ii][Ll][Dd]-[Mm][Ss][Vv][Cc]/
[Bb][Uu][Ii][Ll][Dd]-[Vv][Ss]/
[Bb][Uu][Ii][Ll][Dd]/
*.[Pp][Nn][Gg]
*.[Aa][Pp][Nn][Gg]
*.[Jj][Pp][Ee][Gg]
*.[Jj][Pp][Gg]
*.[Hh][Dd][Rr]
*.[Kk][Tt][Xx]
*.[Dd][Dd][Ss]
*.[Ww][Ee][Bb][Pp]
*.[Aa][Pp][Nn][Gg]
*.[Pp][Ss][Dd]
*.[Tt][Gg][Aa]
*.[Bb][Mm][Pp]
*.[Gg][Ii][Ff]
*.[Ll][Oo][Gg]
*.[Tt][Ee][Xx][Tt]
*.[Ee][Xx][Ee]
out/
CMakeSettings.json

